<ul class="nav nav-pills">
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/data" routerLinkActive="active">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addItems"routerLinkActive="active">Add Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">LogOut</a>
    </li>
  </ul>
